@import "./theme/theme";
@import "./helper/function";
@import "./helper/mixin";
@import "./components/grid";
@import "./components/font";
@import "./components/class";
@import "./components/modal";

$height: 80px;
$heightMobile: 60px;

// Header
.header {
  width: 100%;
  height: $height;
  &__container {
    background: $primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: $height;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 4;
    &__left {
      display: flex;
      height: 100%;
      align-items: center;
      padding-left: 40px;
      > p {
        line-height: $height;
        margin: 0 30px;
        @include Text(SF_Medium, $textDark, $body2, $fwRegular);
        position: relative;
        > span {
          font-size: $h5;
          margin-right: 5px;
        }
        &.active {
          color: $textSecondary;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            border-top: 2px solid $secondary;
            display: block;
          }
        }
      }
      &-txtMobile {
        display: none;
      }
    }
    &__right {
      margin-right: 4%;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      > img {
        width: 30px;
        border-radius: 100%;
        margin-right: spacing(1);
      }
      > span {
        @include Text(SF_Regular, $textGrey, $subtitle, $fwRegular);
      }
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    > img {
      display: none;
      width: 15px;
    }
  }
  @media (max-width: 1024px) {
    &__container {
      width: 73%;
    }
    &__container__left {
      > p {
        margin: 0 20px;
        &.active {
          &::before {
            width: 80%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: $heightMobile;
    &__wrapper {
      padding: 0 spacing(1.5);
      > img {
        display: block;
      }
    }
    &__container {
      width: 100%;
      height: $heightMobile;
      &__left {
        > p {
          display: none;
          &.header__container__left-txtMobile {
            display: block;
            font-size: $subtitle;
            > span {
              font-size: $subtitle;
              margin: 0;
            }
          }
          &#methodPay {
            display: none;
          }
        }
      }
      &__right {
        margin: 0;
        > span {
          display: none;
        }
      }
    }
  }
}

// CHECKOUT
.checkout {
  height: calc(100vh - #{$height});
  &Left {
    height: 100%;
    &__container {
      height: max-content;
      width: 75%;
      display: flex;
    }
    &__blackModal {
      width: 5.5%;
      background: url(../imgs/movieSlider1.png);
    }
    &__content {
      width: 93%;
      background: $primary;
      padding-top: 30px;
      .grid {
        width: 90%;
        margin: 0 auto;
      }
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        &-left {
          display: flex;
          align-items: center;
          > img {
            width: 48px;
            margin-right: 10px;
          }
          .checkoutLeft__contentCinema {
            > p {
              margin: 0;
              @include Text(SF_Regular, $textDark, $h6, $fwRegular);
              > span {
                color: $textGrey;
              }
              &:last-child {
                > span {
                  font-size: $subtitle;
                }
              }
            }
          }
        }
        &-right {
          > span {
            @include Text(SF_Regular, $textGrey, $body1, $fwRegular);
            line-height: 0;
            text-align: center;
          }
          > p {
            margin: 0;
            @include Text(SF_Medium, $textSecondary, 29px, $fwRegular);
            line-height: 1;
            text-align: center;
          }
        }
      }
      &__body {
        &-container {
          width: 100%;
          margin: 0 auto;
          > img {
            width: 100%;
          }
        }
      }
    }
    .seat {
      width: 26px;
      height: 22px;
      border-radius: 5px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border: 4px solid #fff;
      border-top-color: transparent;
      position: relative;
      margin-right: 10px;
      cursor: pointer;
      > span {
        width: 21px;
        height: 22px;
        border-radius: 4px;
        border: 2px solid #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.seat--small {
        margin: 0 auto;
        cursor: auto;
        width: 14px;
        height: 10px;
        border-radius: 2px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 2px solid #fff;
        > span {
          width: 10px;
          height: 10px;
          border-radius: 2px;
          border: 1px solid #e6e6e6;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;
          top: 18%;
        }
      }
      > .seatNumber {
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        @include Text(SF_Regular, $textWhite, $body2, $fwRegular);
      }
      &.seat--null {
        cursor: auto;
      }
      &.seat--normal {
        border-color: #3e515d;
        border-top-color: transparent;
        > span {
          background: #3e515d;
        }
      }
      &.seat--vip {
        border-color: #f7b500;
        border-top-color: transparent;
        > span {
          background: #f7b500;
        }
      }
      &.seat--deluxe {
        border-color: #4a90e2;
        border-top-color: transparent;
        > span {
          background: #4a90e2;
        }
      }
      &.seat--choosing {
        border-color: $textGreenLeft;
        border-top-color: transparent;
        > span {
          background: $textGreenLeft;
        }
      }
      &.seat--chosen {
        border-color: #e7eaec;
        border-top-color: transparent;
        > span {
          background: #e7eaec;
        }
      }
      &.seat--notchosen {
        border-color: rgba(16, 34, 53, 0.2);
        border-top-color: transparent;
        > span {
          background: rgba(16, 34, 53, 0.2);
        }
      }
    }
    &__screen {
      width: fit-content;
      margin: 0 auto;
      &__row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        > p {
          @include Text(SF_Regular, $textDark, $subtitle, $fwRegular);
          margin: 0;
          width: 20px;
          text-align: center;
          margin-right: 80px;
        }
      }
    }
    &__note {
      width: fit-content;
      margin: 0 auto;
      margin-top: 80px;
      &__row {
        display: flex;
        align-items: center;
      }
      &__item {
        text-align: center;
        margin-right: 20px;
        > p {
          margin: 0;
          margin-top: spacing(0.5);
          @include Text(SF_Regular, $textGrey, $body2, $fwRegular);
        }
      }
    }
  }
  &Right {
    position: fixed;
    top: 0;
    right: 0;
    width: 26%;
    height: 100vh;
    background: $primary;
    z-index: 5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    &__container {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &__content {
      min-height: calc(100% - 60px);
      overflow-y: scroll;
      padding: 0 5%;
      padding-bottom: 40px;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: #e9e9e9;
      }
      &::-webkit-scrollbar-thumb {
        background: $textWhiteGrey;
        border-radius: 200px;
      }
      &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $grey;
      }
      &__price {
        height: $height;
        > p {
          width: 100%;
          text-align: center;
          @include Text(SF_Medium, $textGreenLeft, $h3B, $fwRegular);
          margin: 0;
        }
      }
      &__detail {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding: spacing(1.5) 0;
        &-name {
          display: flex;
          align-items: center;
          margin-bottom: spacing(0.4);
          .nametag {
            @include Text(SF_Medium, $textWhite, $subtitle, $fwRegular);
            background-color: #fb4226;
            border-radius: 4px;
            padding: 5px;
            float: left;
            margin-right: 5px;
            vertical-align: 2px;
            min-width: 33px;
            text-align: center;
          }
          > span:last-child {
            @include Text(SF_Medium, $textDark, $subtitle, $fwRegular);
          }
        }
        > p {
          @include Text(SF_Regular, $textDark, $subtitle, $fwRegular);
          margin: 0;
        }
      }
      &__chair {
        padding: spacing(1.6) 0;
        justify-content: space-between;
        > img {
          display: none;
          width: 17px;
          height: 22px;
        }
        span:first-child {
          @include Text(SF_Regular, $textSecondary, $subtitle, $fwRegular);
        }
        span:last-child {
          @include Text(SF_Medium, $textGreenLeft, $subtitle, $fwRegular);
        }
      }
      &__combo {
        padding: spacing(1.2) 0;
        padding-top: spacing(2.2);
        justify-content: space-between;
        cursor: pointer;
        > span {
          @include Text(SF_Regular, $textPrimary, $body2, $fwRegular);
          > img {
            width: 17px;
            height: 22px;
            margin-right: 9px;
          }
          &:last-child {
            @include Text(SF_Medium, $textGreenLeft, $subtitle, $fwRegular);
          }
        }
      }
      &__input {
        position: relative;
        padding: spacing(1.2) 0;
        > label {
          position: absolute;
          @include Text(SF_Regular, $textGrey, $body2, $fwRegular);
          top: 12px;
          left: 0;
          margin: 0;
          transition: all 0.3s;
        }
        > input {
          @include Text(SF_Regular, $textDark, $subtitle, $fwRegular);
          height: 100%;
          padding-top: 16px;
          border: none;
          outline: none;
          transition: all 0.3s;
          &:focus {
            ~ label {
              color: #4a90e2;
            }
          }
        }
      }
      &__phone {
        > label {
          font-size: $h6;
        }
        > input {
          padding: 0;
          margin-bottom: 10px;
          &:focus {
            padding-top: 16px;
            margin-bottom: 0;
            ~ label {
              font-size: $body2;
            }
          }
        }
      }
      &__voucher {
        justify-content: space-between;
        > input {
          width: calc(100% - 80px);
          &::placeholder {
            color: $textDark;
          }
        }
        > button {
          @include Text(SF_Regular, $textWhite, $body3, $fwRegular);
          @include Button(none, none, 6px, $greyDark, 5px, 7px);
        }
      }
      &__methodPay {
        flex-direction: column;
        align-items: flex-start;
        padding: spacing(1.2) 0;
        margin-bottom: 40%;
        border: none;
        cursor: pointer;
        > p {
          @include Text(SF_Regular, $textDark, $subtitle, $fwRegular);
          margin-bottom: 6px;
        }
        &-content {
          width: 100%;
          > span {
            @include Text(SF_Regular, $textSecondary, $body3, $fwRegular);
          }
        }
        &-choose {
          display: none;
          // display: flex;
          align-items: center;
          margin-bottom: 5px;
          > input {
            width: 22px;
            height: 22px;
            outline: 0;
          }
          .labelMethodPay {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-left: 10px;
            margin-bottom: 0;
            width: 89%;
            > img {
              width: auto;
              max-width: 40px;
              margin-right: 15px;
            }
            &__detail {
              width: 100%;
              position: relative;
              > p {
                @include Text(SF_Regular, $textDark, $subtitle, $fwRegular);
                margin: 0;
              }
              > span {
                @include Text(SF_Regular, red, $body4, $fwRegular);
                position: relative;
                bottom: 4px;
              }
              > img {
                width: 7px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.4s;
              }
            }
          }
          &.methodPay__atm {
            flex-wrap: wrap;
            .methodPay__atm__list {
              display: none;
              // display: flex;
              flex-wrap: wrap;
              padding-left: spacing(3.6);
              cursor: auto;
              &-logo {
                width: 60px;
                height: 40px;
                background-color: #fff;
                margin: 10px 10px 0 0;
                border: 1px solid #ccc;
                cursor: pointer;
                &:hover {
                  border: 2px solid $secondary;
                }
                > img {
                  width: 100%;
                  height: 100%;
                  display: block;
                  object-fit: contain;
                }
              }
            }
          }
          #methodPayAtm:checked {
            ~ .methodPay__atm__list {
              display: flex;
            }
            ~ .labelMethodPay {
              .labelMethodPay__detail {
                > img {
                  transform: translateY(-50%) rotate(90deg);
                }
              }
            }
          }
        }
      }
    }
    &__notice {
      position: absolute;
      bottom: 60px;
      left: 0;
      z-index: 2;
      background: $primary;
      width: calc(100% - 4px);
      margin-top: auto;
      text-align: center;
      padding: 0 5%;
      padding-bottom: 14px;
      > img {
        margin-right: 8px;
        width: 16px;
      }
      > span {
        @include Text(SF_Regular, $textDarkLight, $body2, $fwRegular);
        > span {
          color: $textOgrange;
        }
      }
    }
    &__btn {
      > button {
        @include Text(SF_Medium, $textGreyDark, $h4a, $fwRegular);
        width: 100%;
        height: 60px;
        border: none;
        background: $greyDark;
        border-radius: 2px;
      }
    }
  }
  &__btnGroup {
    display: none;
    &__txt-combo {
      display: none;
    }
    #btnContinueCombo {
      display: none;
    }
    #btnContinueSubmit {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    &Left {
      &__content__header-left {
        > img {
          width: 35px;
        }
      }
      .seat {
        width: 20px;
        height: 16px;
        > span {
          width: 15px;
          height: 16px;
          border: 1px solid #fff;
        }
      }
    }
    &Right {
      width: 28%;
      &__content {
        &__chair {
          span:first-child {
            display: none;
          }
          > img {
            display: block;
          }
        }
      }
    }
  }
  @media (max-width: 900px) {
    &Left {
      &__note {
        &__item {
          margin-right: 14px;
        }
      }
    }
  }
  @media (max-width: 820px) {
    &Left {
      &__content {
        &__body {
          overflow: scroll;
          margin: 0 -5%;
          &-container {
            padding: 0 5%;
            width: 627px;
          }
        }
      }
      &__screen {
        &__row {
          margin-bottom: 5px;
        }
      }
      .seat {
        margin-right: 5px;
      }
    }
  }
  @media (max-width: 768px) {
    &Right {
      display: none;
      width: 100%;
      top: $heightMobile;
      z-index: 3;
      &__content__methodPay {
        &-content {
          > span {
            display: none;
          }
        }
        &-choose {
          display: flex;
        }
      }
      &__notice {
        position: relative;
      }
    }
    &Left {
      &__blackModal {
        display: none;
      }
      &__container {
        width: 100%;
      }
      &__content {
        width: 100%;
        &__body {
          &-container {
            width: 627px;
          }
          > img {
            width: 90%;
            margin: 0 auto;
            display: block;
          }
        }
      }
      &__note {
        margin-bottom: 20%;
      }
      &__screen {
        .seat {
          margin-right: 8px;
        }
      }
    }
    &__btnGroup {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      display: flex;
      box-shadow: 0 -1px 0 0 #dadada, 0 1px 0 0 #dadada;
      z-index: 10;
      &-item {
        width: 50%;
        height: 70px;
        line-height: 70px;
        background: $primary;
        text-align: center;
      }
      &__btnContinue {
        @include Text(SF_Regular, $textGreyDark, $h5A, $fwRegular);
        background: $greyDark;
      }
      &__txt {
        > p {
          @include Text(SF_Regular, $textGreenLeft, $body5, $fwRegular);
        }
      }
    }
  }
  @media (max-width: 480px) {
    &Left {
      &__content {
        padding-top: 15px;
        &__header {
          &-left {
            > img {
              width: 60px;
            }
          }
        }
      }
    }
    &__btnGroup {
      &-item {
        height: 50px;
        line-height: 50px;
      }
    }
  }
  @media (max-width: 400px) {
    &Left {
      &__note {
        &__row {
          flex-wrap: wrap;
          justify-content: center;
        }
        &__item {
          margin-bottom: 10px;
        }
      }
    }
  }
  @media (max-width: 350px) {
    &Left {
      &__content__header-left {
        > img {
          width: 45px;
        }
      }
    }
    &Right {
      &__content__methodPay {
        &-choose {
          .labelMethodPay {
            width: 85%;
          }
        }
      }
    }
  }
}

// MODAL COMBO
.modalCheckoutCombo {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $blackBlur;
    z-index: 2;
    display: block;
    opacity: 0;
    transition: all 0.4s;
  }
  &__container {
    position: absolute;
    top: 0;
    right: 27%;
    width: 465px;
    background: $primary;
    display: block;
    z-index: 3;
    height: 100%;
    overflow-x: hidden;
    padding-top: calc(#{$height} + 20px);
    transform: translateX(100%);
    transition: all 0.8s;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: #e9e9e9;
    }
    &::-webkit-scrollbar-thumb {
      background: $textWhiteGrey;
      border-radius: 200px;
    }
  }
  &__content {
    padding: 0 spacing(2);
    padding-bottom: spacing(1);
    &__headerTitle {
      margin-bottom: 15px;
      background-color: #f5f5f5;
      border-bottom: 1px dashed $whiteGrey;
      padding: 3%;
      > p {
        @include Text(SF_Medium, $textDark, $h5, $fwRegular);
        margin: 0;
      }
    }
    &__item {
      display: flex;
      margin-bottom: spacing(3);
      &-logo {
        padding: 0;
        padding-right: 15px;
        > img {
          width: 100%;
        }
      }
      &-detail {
        padding-left: 0;
        .checkoutCombo__name {
          @include Text(SF_Medium, $textDark, $h6, $fwRegular);
          > img {
            width: 18px;
            height: 18px;
            margin-right: 8px;
          }
        }
        .collapseTxt {
          padding-left: spacing(2.9);
          > p {
            @include Text(SF_Medium, $textGrey, $body4, $fwRegular);
            margin: 0;
            margin-top: 3px;
            white-space: pre-line;
          }
        }
        > p {
          margin: 0;
          padding-left: spacing(2.9);
          @include Text(SF_Medium, $textGreenLeft, $body5, $fwRegular);
          letter-spacing: 1px;
          margin-top: 4px;
        }
      }
      &-number {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        > span {
          @include Text(SF_Medium, $textDark, $h6, $fwRegular);
          border: 1px solid #e9e9e9;
          border-radius: 4px;
          height: 32px;
          width: 32px;
          line-height: 32px;
          text-align: center;
          display: block;
          margin: 0 6px;
        }
        > button {
          @include Text(SF_Medium, $textWhite, $h6, $fwRegular);
          &#btnDiminish {
            margin-right: 5px;
            background: 0 0;
            border: transparent;
            color: #9b9b9b;
            transform: scaleX(3);
            height: 32px;
          }
          &#btnAdd {
            background: 0 0;
            border: transparent;
            color: #fb4226;
            height: fit-content;
            transform: scale(1.5) translateY(2px);
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    // display: none;
    z-index: 4;
    &__container {
      right: 0;
      width: 100%;
      padding-top: 20px;
    }
  }
  @media (max-width: 480px) {
    &__content {
      &__item-detail {
        > p {
          padding: 0;
        }
      }
    }
  }
}
