// CREATE THEME

//-----COLORS BACKGROUND------
$primary: #fff;
$secondary: #fb4226;
$dark: #222;
$greyDark: #afafaf;
$grey: #e9e9e9;
$grey1: #ebebec;
$lightGrey: #b3b3b3;
$whiteGrey: #ddd;
$whiteGrey8: #d8d8d8;
$blue: #60c5ef;
$blueDark: rgb(10, 32, 41);
$whiteRgba: rgba(238, 238, 238, 0.88);
$whiteBlur: rgba(255, 255, 255, 0.95);
$blackBlur: rgba(0, 0, 0, 0.7);
$greyRgba: rgba(246, 246, 246, 0.5);
$black: #4a4a4a;
$linear: linear-gradient(to left, #fb4226, #ce3017 100%);
$green: #00ac4d;

//-----COLORS TEXT------
$textPrimary: #000;
$textSecondary: #fb4226;
$textWhite: #fff;
$textDarkLight: #4a4a4a;
$textGreyE: #888;
$textGrey: #9b9b9b;
$textLightGrey: #949494;
$textWhiteGrey: #bbb;
$textGreen: #108f3e;
$textGreenLight: #8bc541;
$textGreenGem: #91d25a;
$textGreenLeft: #44c020;
$textRed: #e71a0f;
$textDark: #333;
$textGreyDark: #e9e9e9;
$textOgrange: #f79320;

//-------FONT SIZE-------
$body1: 10px;
$body4: 11px;
$body2: 12px;
$body3: 13px;
$subtitle: 14px;
$body5: 15px;
$h6: 16px;
$h5: 18px;
$h5A: 19px;
$h4: 20px;
$h4a: 22px;
$h4A: 24px;
$h3: 30px;
$h3A: 32px;
$h3B: 34px;
$h2: 40px;
$h1: 44px;
$h1A: 52px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//------HEIGHT--------
$heightHeader: 60px;
$heightBooking: 80px;

//----------SPACING---------
$spacing: 10px;

//----------ICON---------

//------WIDTH--------
$widthSliderBtn: 100px;
